@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    /*COLOR*/
    --color-background: #181a1e;
    --color-menu: #202528;
    --color-text-violet: #7030a0;

    /*FONT*/
    --font-nunito: 'Nunito', sans-serif;

}


.div_add_music{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;

}
form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#id_name, #id_image_playlist, #id_music, #id_public{
    width: 100%;
    background-color: transparent;
    margin-bottom: 10%;
    color: white;
    font-size: 20px;
}
#id_name{
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px var(--color-text-violet);
}

.btn_add{
    height: 50px;
    background-color: transparent;
    color: var(--color-text-violet);
    font-size: 20px;
    border: 4px var(--color-text-violet) solid;
    border-radius: 50px;
}

.btn_add:hover{
    background-color: var(--color-text-violet);
    color: var(--color-background);
    cursor: pointer;
}

.checkbox_label{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

#id_public{
    clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.checkbox_container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: dimgrey;
    border: dimgrey 4px solid;
    justify-content: left;
    cursor: pointer;
}

.checkbox_indicator{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
}

#id_public:checked + .checkbox_container{
    display: flex;
    justify-content: right;
    background-color: var(--color-text-violet);
    border-color: var(--color-text-violet);
    transition: justify-content 0.2s ease-in-out;

}


.delete_btn{
    display: flex;
    background-color: firebrick;
    margin-top: 5%;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;

}

.delete_btn:hover{
    background-color: darkred;
}


#image_playlist-clear_id{

}


