{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/playlist.css" %}"/>
    <title>Spotifi | {{ playlist.name }}</title>
    <script src="{% static "jquery-3.6.1.min.js"%}"></script>
{% endblock %}
{% block content %}
    <div class="info_playlist">
        {% if  playlist.submitter  ==  user  %}
        <a class="option_submitter" href="{% url 'updatePlaylist' playlist.id playlist.submitter.id%}">
            <svg fill="#FFFFFF" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="30px" height="30px" viewBox="0 0 320.794 320.795"
                 xml:space="preserve">
                <g>
                    <g>
                        <path d="M279.785,117.868h-0.246c-1.393-3.873-3.014-7.752-4.857-11.61l0.21-0.201c15.997-16,15.997-42.009,0-58.003l-2.149-2.147
                            c-7.746-7.746-18.045-12.015-28.991-12.015c-10.965,0-21.257,4.269-29.01,12.015l-0.21,0.205
                            c-3.843-1.838-7.729-3.456-11.607-4.853v-0.252C202.923,18.393,184.531,0,161.917,0h-3.038c-22.614,0-41.007,18.393-41.007,41.007
                            v0.252c-3.879,1.396-7.758,3.015-11.61,4.853l-0.207-0.205c-7.749-7.746-18.047-12.015-29-12.015
                            c-10.956,0-21.248,4.269-28.997,12.015l-2.153,2.153c-7.747,7.743-12.007,18.042-12.007,28.991
                            c0,10.953,4.26,21.257,12.007,29.006l0.21,0.201c-1.843,3.858-3.461,7.737-4.858,11.61H41.01
                            c-22.614,0-41.007,18.393-41.007,41.007v3.039c0,22.614,18.393,41.012,41.007,41.012h0.246c1.396,3.873,3.015,7.753,4.852,11.602
                            l-0.204,0.21c-15.988,15.991-15.988,42.004,0,58.001l2.153,2.155c7.749,7.746,18.047,12.01,28.997,12.01
                            c10.953,0,21.251-4.264,29-12.01l0.207-0.216c3.853,1.844,7.731,3.465,11.61,4.863v0.24c0,22.614,18.393,41.014,41.007,41.014
                            h3.038c22.614,0,41.007-18.399,41.007-41.014v-0.24c3.879-1.398,7.765-3.02,11.607-4.863l0.21,0.216
                            c7.753,7.746,18.045,12.01,28.997,12.01c10.959,0,21.258-4.264,29.004-12.01l2.149-2.155c7.746-7.746,12.01-18.045,12.01-29.004
                            c0-10.952-4.264-21.244-12.01-28.99l-0.21-0.217c1.844-3.849,3.465-7.729,4.857-11.602h0.246c22.62,0,41.007-18.398,41.007-41.012
                            v-3.039C320.792,136.261,302.405,117.868,279.785,117.868z M160.404,212.876c-28.938,0-52.482-23.545-52.482-52.476
                            c0-28.943,23.544-52.482,52.482-52.482c28.937,0,52.481,23.539,52.481,52.482C212.892,189.331,189.34,212.876,160.404,212.876z"/>
                    </g>
                </g>
            </svg>
        </a>
        {% endif %}
        <img class="image_playlist" src="{{ playlist.image_playlist.url }}">
        <div>
            <h1>{{ playlist.name }}</h1>
            <h2>{{ playlist.submitter }}</h2>
            <span><p id="music_count"></p><p>music(s), </p><p id="time_total"></p>
</span>
            <p id="time_total"></p>
        </div>
    </div>
    <div class="info-music_list_class">
    <div class="info-music_list">
        <div id="decal_1"></div>
        <div id="decal_2"></div>
        <p id="titre_music_list">#title</p>
        <p id="titre_music_list">#artist</p>
        <p id="titre_music_list">#album</p>
    </div>
    </div>
    <hr id="hr_top">
    <div class="music_list_container">
    <ul class="music_list">
        {% for music in object.music.all %}
            <li id="music_case">
                <button class="play_pause" onclick="playAndPause('audio_{{ music.id }}')">
                    <svg class="btn_play" width="30px" height="30px" viewBox="0 0 24 24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                        <path style="fill:#FFFFFF;" d="M17.2839 11.134C17.9506 11.5189 17.9506 12.4811 17.2839 12.866L6.71601 18.9674C6.04934 19.3523 5.21601 18.8712 5.21601 18.1014L5.21601 5.8986C5.21601 5.1288 6.04934 4.64768 6.71601 5.03258L17.2839 11.134Z" fill="#000000"/>
                    </svg>
                    <svg class="btn_pause" width="30px" height="30px" viewBox="0 0 24 24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                        <path style="fill:#FFFFFF;" d="M8.5 7V18" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round"/>
                        <path style="fill:#FFFFFF;" d="M15.5 7V12.5V18" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round"/>
                    </svg>

                    <img id="cover_music" class="cover_music_playlist" src="{{ music.album.cover.url }}">
                    <p id="title_music" class="title_music_playlist">{{ music.title }}</p>
                    <p id="submitter_music" class="title_music_playlist">{{ music.submitter }}</p>
                    <a class="album_music_playlist" href="{% url 'album' music.album.id %}">{{ music.album.title }}</a>
                </button>
                {% if  playlist.submitter  ==  user  %}
                    <a href="{% url 'removemusicPlaylist' id_music=music.pk id_playlist=playlist.pk %}">
                        <svg width="30px" height="30px" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                {% endif %}
                <audio class="audio_{{ music.id }}" src="{{music.audio_file.url}}" type="audio/mp3"></audio>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div class="info_music_play">
        <div class="info_song">
            <img id="cover">
            <div class="title_cover">
                <p id="title"></p>
                <p id="submitter"></p>
            </div>
        </div>
        <div class="control_audio">
            <input type="range" class="barre"  value="0">
            <div class="button_control_container">
                <button class="control_btn" onclick="playBefore()">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Prev">
                                <rect id="Rectangle" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                                <path  d="M8.66288,12.4218 L18.2316,18.511 C18.5644,18.7228 19,18.4837 19,18.0892 L19,5.91084 C19,5.51629 18.5644,5.27718 18.2316,5.48901 L8.66288,11.5782 C8.35413,11.7746 8.35413,12.2254 8.66288,12.4218 Z" id="Path" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"></path>
                                <line x1="5" y1="5" x2="5" y2="19" id="Path" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"></line>
                            </g>
                        </g>
                    </svg>
                </button>
                <button class="control_btn" onclick="playAndPauseBis()">
                    <svg id="pause" fill="#FFFFFF" height="45px" width="45px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 512 512"  xml:space="preserve">
                        <path class="st0" d="M256,0C114.625,0,0,114.625,0,256c0,141.374,114.625,256,256,256s256-114.626,256-256
                            C512,114.625,397.375,0,256,0z M224,336h-64V176h64V336z M352,336h-64V176h64V336z"></path>
                    </svg>
                    <svg id="play" fill="#FFFFFF" height="45px" width="45px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"  xml:space="preserve">
                        <g>
                            <path class="st0" d="M256,0C114.625,0,0,114.625,0,256c0,141.374,114.625,256,256,256c141.374,0,256-114.626,256-256
                                C512,114.625,397.374,0,256,0z M351.062,258.898l-144,85.945c-1.031,0.626-2.344,0.657-3.406,0.031
                                c-1.031-0.594-1.687-1.702-1.687-2.937v-85.946v-85.946c0-1.218,0.656-2.343,1.687-2.938c1.062-0.609,2.375-0.578,3.406,0.031
                                l144,85.962c1.031,0.586,1.641,1.718,1.641,2.89C352.703,257.187,352.094,258.297,351.062,258.898z"/>
                        </g>
                    </svg>
                </button>
                <button class="control_btn" onclick="playNext()">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Next">
                                <rect id="Rectangle" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                                <path d="M15.3371,12.4218 L5.76844,18.511 C5.43558,18.7228 5,18.4837 5,18.0892 L5,5.91084 C5,5.51629 5.43558,5.27718 5.76844,5.48901 L15.3371,11.5782 C15.6459,11.7746 15.6459,12.2254 15.3371,12.4218 Z" id="Path" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"></path>
                                <line x1="19" y1="5" x2="19" y2="19" id="Path" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"></line>
                            </g>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="audio_volume">
            <svg fill="#FFFFFF" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="sound-max" class="icon glyph">
                <path d="M18.36,19.36a1,1,0,0,1-.7-.29,1,1,0,0,1,0-1.41,8,8,0,0,0,0-11.32,1,1,0,0,1,1.41-1.41,10,10,0,0,1,0,14.14A1,1,0,0,1,18.36,19.36Z" style="fill:#FFFFFF"></path>
                <path d="M15.54,16.54a1,1,0,0,1-.71-.3,1,1,0,0,1,0-1.41,4,4,0,0,0,0-5.66,1,1,0,0,1,1.41-1.41,6,6,0,0,1,0,8.48A1,1,0,0,1,15.54,16.54Z" style="fill:#FFFFFF"></path>
                <path d="M11.38,4.08a1,1,0,0,0-1.09.21L6.59,8H4a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H6.59l3.7,3.71A1,1,0,0,0,11,20a.84.84,0,0,0,.38-.08A1,1,0,0,0,12,19V5A1,1,0,0,0,11.38,4.08Z" style="fill:#FFFFFF"></path>
            </svg>
            <input type="range" id="volume" class="volume">
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/player.js"%}"></script>
{% endblock %}
