{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/add_playlist.css" %}"/>
    <title>Spotifi | update playlist</title>
{% endblock %}
{% block content %}
    {% if  id_submitter  ==  user.id  %}
    <div class="div_add_music">
      <form action="" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <p>Name: </p>
         {{ form.name }}
         <p>Image: </p>
         {{ form.image_playlist }}
         <label class="checkbox_label">
             <p>Public: </p>
            {{ form.public }}
            <span class="checkbox_container">
                <span class="checkbox_indicator"></span>
            </span>
         </label>
        <button type="submit" class="btn_add">Update Playlist</button>
      </form>
  </div>
  {% endif %}
{% endblock %}